<div id="<%= dom_id(photo, :like_button) %>">
  <% if photo.liked_by?(current_user) %>
    <%= button_to photo_like_path(photo),
        method: :delete,
        style: "background:none;border:none;cursor:pointer;" do %>
      <%= image_tag "icons/star-fill.svg", width: 20 %>
      <span><%= photo.like_count %></span>
    <% end %>
  <% else %>
    <%= button_to photo_like_path(photo),
        method: :post,
        style: "background:none;border:none;cursor:pointer;" do %>
      <%= image_tag "icons/star-line.svg", width: 20 %>
      <span><%= photo.like_count %></span>
    <% end %>
  <% end %>
</div>